<!DOCTYPE html>
<html>
<head>
  
</head>
<body>
  <div class="center">
    <h2>Liste des Patients</h2>

    <table id="customers" >
      <tr>
        <th>Num</th>
        <th>Name</th>
        <th>Age</th>
        <th>Adress</th>
        <th>Malade</th>
        <th>Score</th>
      </tr>
      <tr *ngFor="let p of patients">
        <td>{{p.num}}</td>
        <td>{{p.name}}</td>
        <td>{{p.age}}</td>
        <td>{{p.adress}}</td>
        <td>{{p.malade}}</td>
        <td>{{p.score}}</td>
      </tr>
    </table>
  </div>


</body>
</html>


